@import './fonts.css';
@import './tailwind.css';
@import './theme.css';
@import './civic.css';
@import './state-tokens.css';
@import './app.css';
@import './state-theme.css';
@import './dashboard.css';

/* Hide number input spinners */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
